<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Application Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<script src="index.js"></script>
<div class="container">
    <h2>Application Form</h2>
    <div class="container">
        <form th:action="@{/process-application}" th:object="${application}" method="POST">

            <div class="row g-3 align-items-center mb-2">
                <div class="col-md-4">
                    <label class="form-label " for="name">Name</label>

                    <input class="form-control form-control-md shadow-sm bg-body-tertiary rounded" type="text"
                           id="name" name="name" th:field="*{name}">
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-md-4">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control form-control-md shadow-sm bg-body-tertiary rounded" type="text"
                           id="email" name="email" th:field="*{email}">
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-md-4">
                    <label class="form-label" for="address">Address</label>
                    <input class="form-control form-control-md shadow-sm bg-body-tertiary rounded" type="text"
                           id="address" name="address" th:field="*{address}">
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-md-4">
                    <label class="form-label" for="phonenumber">Phone Number</label>
                    <input class="form-control form-control-md mb-2 shadow-sm bg-body-tertiary rounded" type="text"
                           id="phonenumber" name="phonenumber" th:field="*{phoneNumber}">
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-md-4">
                    <select class="form-select mb-3 shadow-sm bg-body-tertiary rounded"
                            aria-label="Default select example" id="position" name="position" th:field="*{position}">
                        <option selected>Job Position</option>
                        <option value="entrylevel">Entry Level</option>
                        <option value="midlevel">Mid Level</option>
                        <option value="seniorlevel">Senior Level</option>
                    </select>
                </div>
            </div>

            <div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="location" id="berlin" th:field="*{location}"
                           th:value="berlin">
                    <label class="form-check-label" for="berlin">Berlin</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="location" id="munich" th:field="*{location}"
                           th:value="munich">
                    <label class="form-check-label" for="munich">Munich</label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="location" id="stuttgart" th:field="*{location}"
                           th:value="stuttgart">
                    <label class="form-check-label" for="stuttgart">Stuttgart</label>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-md-4">
                    <label for="coverletter" class="form-label">Cover Letter</label>
                    <textarea class="form-control shadow-sm bg-body-tertiary rounded" id="coverletter"
                              th:field="*{coverLetter}"
                              rows="4"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
</body>
</html>